/* Overflow menu style */
        .shaka-overflow-menu {
            background-color: rgb(35, 35, 35);
            color: rgb(255, 255, 255);
        }

        .shaka-overflow-menu button:hover {
            background-color: rgb(45, 45, 45);
        }

        .shaka-overflow-button-label {
            color: rgb(245, 245, 245);
        }

        .shaka-current-selection-span {
            color: rgb(202, 202, 202);
        }

        .material-icons-round {
            color: rgb(230, 230, 230);
        }

        /* Overflow sub menu style */
        .shaka-settings-menu {
            background-color: rgb(35, 35, 35);
            color: rgb(255, 255, 255);
        }

        .shaka-settings-menu button {
            color: rgb(255, 255, 255);
        }

        .shaka-settings-menu button:hover {
            background-color: rgb(45, 45, 45);
        }

        .shaka-bottom-controls {
            display: flex;
            flex-direction: column-reverse;
        }
        
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: black;
        }

        video {
            width: 100%;
            height: 100%;
        }

        .logo {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px; /* Adjust the width as needed */
            height: auto;
            cursor: pointer;
            z-index: 10;
        }
        /* Styles as before */
