html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        #player-container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

        .shaka-video-container {
            height: 100%;
            width: 100%;
        }

        video {
            height: 100%;
            width: 100%;
        }
